.customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  div>p{
      text-align: center;
  }
  td:hover{
      background-color: blanchedalmond;
  }
  
  